// Insert your variables
$blue           : #2B3856;
$white			: #FFFFFF;
$gray			: #2F4F4F;
$cream			: #FFF5EE;
$mocha			: #493D26;
$nav-select		: rgba(43, 56, 86, 0.5);
$pink			: rgba(239, 78, 79, 0.6);
$purple			: #AE5AEF;
$beige			: #CACCBD;
$blue-light		: rgba(43, 56, 86, 0.4);
$lightblue		: #A7EFEF;
$select 		: rgba(43, 56, 86, 0.4);

$header-font	: Sacramento, cursive;
$square-width	: 300px;
$square-height	: 150px;
$footer-height	: 300px;
$nav-height		: 70px;